.card-list {
  display: grid;
  justify-content: center;
  gap: 20px;

  &_small {
    grid-template-columns: repeat(auto-fill, 340px);
  }

  &_medium {
    grid-template-columns: repeat(auto-fill, 460px);
  }

  &_large {
    grid-template-columns: repeat(auto-fill, 700px);
  }
}