.block {
  display: flex;
  flex-direction: column;
  gap: 40px;
}

.block__title {
  display: flex;
  gap: 12px;

  font-size: 42px;
  font-weight: 800;
  line-height: 63px;

  span {
    color: $button-colors-black;

    &:first-child {
      background: $button-colors-color;
      background-clip: text;
      color: transparent;
    }
  }
}

.block__container {

}
