@import url('https://fonts.googleapis.com/css2?family=Manrope:wght@200;300;400;500;600;700;800&display=swap');

$button-colors-color: linear-gradient(90deg, #6345ED 0%, #7F42F0 52.6%, #DC39FC 100%);
$button-colors-black: #252831;
$button-colors-white: #ffffff;
$color-grey: #F4F4F4;
$color-dark-grey: #ECECEC;


$font: 'Manrope';