.card {
  width: 340px;
  height: 561px;
  display: grid;
  grid-template-rows: 473px auto;

  border-radius: 24px;
  background: $color-grey;
  border: 1px solid $color-dark-grey;
}

.card__info {
  height: 473px;
  padding: 16px;
  position: relative;

  border-radius: 24px;
  border: 1px;
  gap: 16px;
  background: $button-colors-white;
  border: 1px solid $color-dark-grey;
}

.card__image-container {
  position: relative;
  width: 100%;
  height: 340px;
}

.card__image {
  border-radius: 12px;
  object-fit: contain;
}

.card__info-text {
  margin-top: 16px;
  padding: 8px;
}

.card__name {
  font-size: 22px;
  font-weight: 800;
  line-height: 22px;
}

.card__author {
  margin-top: 8px;

  display: flex;
  align-items: center;
  gap: 8px;
}

.user__name {
  font-size: 14px;
  font-weight: 500;
  line-height: 21px;
}

.card__timer {
  position: absolute;
  bottom: 98px;
  left: 87.5px;

  width: 131px;
  height: 33px;

  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 27px;
  background: $button-colors-white;
  border: 1px solid $color-dark-grey;
  gap: 6px
}

.card__timer-icon {
  width: 16.6px;
  height: 16.6px;
  
  background-position: center;
  background-image: url(/assets/icons/Clock.svg);
  background-size: cover;
}

.card__timer-time {
  font-size: 14px;
  font-weight: 600;
  line-height: 21px;
}

.card__favourite {
  position: absolute;
  top: 24px;
  right: 24px;

  width: 63px;
  height: 33px;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 6px;

  border-radius: 27px;
  background-color: $color-grey;
}

.card__favourite-icon {
  width: 16.6px;
  height: 16.6px;
  
  background-position: center;
  background-image: url(/assets/icons/Heart.svg);
  background-size: cover;
}

.card__favourite-count {
  font-size: 14px;
  font-weight: 600;
  line-height: 21px;
}

.card__bid {
  height: 100%;
  padding: 0 16px;

  display: flex;
  justify-content: space-between;
  align-items: center;
}

.card__bid-info {

}

.card__bid-text {
  font-size: 10px;
  font-weight: 500;
  line-height: 15px;
  text-transform: uppercase;
}

.card__bid-number {
  font-size: 14px;
  font-weight: 800;
  line-height: 14px;
}

.card__btn-bid {
 
  
}