* {
  margin: 0;
  padding: 0;

  font-family: $font;

  box-sizing: border-box;
}

html,
body {
  height: 100%;
  cursor: default;
}

body {
  display: grid;
  grid-template-rows: auto auto 800px;
}

button {
  background: none;
  border: none;
  cursor: pointer;
}

a {
  text-decoration: none;
  color: $button-colors-black;
}

input {
  outline: none;
  border: none;
}

.wrapper {
  width: 95%;
  max-width: 1420px;
}

.page {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.block__title {
  display: flex;
  gap: 12px;

  font-size: 42px;
  font-weight: 800;
  line-height: 63px;

  span {
    color: $button-colors-black;

    &:first-child {
      background: $button-colors-color;
      background-clip: text;
      color: transparent;
    }
  }
}

