.header {
  display: flex;
  flex-direction: column;

  .wrapper {
    display: flex;
    align-items: center;
    justify-content: space-between;
  }

  .first-line {
    height: 95px;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;

    .search {
      border: 1px solid $color-dark-grey;
    }
  }

  .second-line {
    height: 70px;
    width: 100%;
    margin-bottom: 40px;
    display: flex;
    align-items: center;
    justify-content: center;

    border: 1px solid $color-dark-grey;
  }
}

.logo {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 10px;

  img {
    height: 40px;
    width: 40px;
  }

  span {
    font-size: 18px;
    font-weight: 800;
    line-height: 25px;
  }
}

.navigation {
  display: flex;
  gap: 24px;
  font-size: 14px;
  font-weight: 700;

  .active {
    color: orange;
  }

  @media screen and (max-width: 1100px) {
    display: none;
  }
}

.user {
  display: flex;
  align-items: center;
  gap: 12px;
}

.user__tools {
  display: flex;
  gap: 12px;
}

.user__button {
  height: 24px;
  width: 24px;
  display: block;
  background-size: cover;

  &-search {
    background-image: url(/assets/icons/Search.svg);
  }

  &-cart {
    background-image: url(/assets/icons/Cart.svg);
  }

  &-favourite {
    background-image: url(/assets/icons/Heart.svg);
  }

  &-notification {
    background-image: url(/assets/icons/Notification.svg);
  }
}

.user__info {
  padding-left: 12px;
  display: flex;
  align-items: center;
  gap: 12px;
  border-left: 2px solid #2528311A;
}

.user__info-container {
  display: flex;
  flex-direction: column;
  gap: 2px;
}

.user__name {
  font-size: 14px;
  font-weight: 700;
}

.user__balance {
  font-size: 12px;
  font-weight: 800;

  background: $button-colors-color;
  background-clip: text;
  color: transparent;
}