.header {
  display: flex;
  align-items: center;
  justify-content: center;

  .wrapper {
    display: flex;
    align-items: center;
    justify-content: space-between;
  }
}

.header__logo {
  display: flex;
  align-items: center;
  justify-content: center;

  img {
    height: 40px;
    width: 40px;
  }

  span {
    font-size: 18px;
    font-weight: 800;
    line-height: 25px;
  }
}

.navigation {
  margin-left: 24px;
  display: flex;
  gap: 24px;
  font-size: 14px;
  font-weight: 700;
}

.user {
  display: flex;
  align-items: center;
  gap: 12px;
}

.user__tools {
  display: flex;
  gap: 12px;
}

.user__button {
  height: 24px;
  width: 24px;
  display: block;
  background-size: cover;

  &-search {
    background-image: url(/assets/icons/Search.svg);
  }

  &-cart {
    background-image: url(/assets/icons/Cart.svg);
  }

  &-favourite {
    background-image: url(/assets/icons/Heart.svg);
  }

  &-notification {
    background-image: url(/assets/icons/Notification.svg);
  }
}

.user__info {
  padding-left: 12px;
  display: flex;
  align-items: center;
  gap: 12px;
  border-left: 2px solid #2528311A;
}

.user__info-container {
  display: flex;
  flex-direction: column;
  gap: 2px;
}

.user__name {
  font-size: 14px;
  font-weight: 700;
}

.user__balance {
  font-size: 12px;
  font-weight: 800;

  background: $button-colors-color;
  background-clip: text;
  color: transparent;
}

.user__icon-container {
  height: 36px;
  width: 36px;

  border-radius: 50%;
  border: 2px solid transparent;
  background: linear-gradient(to right, white, white), $button-colors-color;
  background-clip: padding-box, border-box;
  -webkit-background-clip: padding-box, border-box;
  -webkit-text-fill-color: transparent;
  border-image: $button-colors-color;
  border-image-slice: 1;
}

.user__icon {
  height: 100%;
  width: 100%;

  background: url(/assets/images/user-icon.svg);
  background-repeat: no-repeat;
  background-size: cover;
}